/* 最初に見る画面 */
html {
    font-size: 16px;
    font-family: '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-feature-settings: "palt";
    margin: 0;
  }

  .p-grid__view-first {
    position: relative;
    height: 100vh;
    width: 100%;
}
  .p-grid__view-first a{
   text-decoration: none;
   font-weight: bold;
   color: black;
}

small {
    font-size: 80%; 
}
  

/* スペース調整 */
.module-spacer--extra-extra-extra-small {
    height: 8px; 
}

.module-spacer--extra-extra-extra-small {
    height: 12px; 
}

.module-spacer--small {
    height: 32px; }
  

.p-grid__view-first img {
    object-fit: cover; /*object-fit: cover;によって、要素サイズ 画面いっぱい */
    height: 100%;
    width: 100%;
}

.p-grid__view-first div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.p-grid__view-first div h2 {
    font-family: 'Amatic SC', cursive;
    color: #fff;
    font-size: 4.0rem;
    margin-bottom: 1rem;
  }
  .p-grid__view-first div p {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.p-grid__view-first div a {
    margin-top: 3rem;
}

/* ボタンまわり */
.p-btn-round {
    background: #FFB549;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    height: 3rem;
    margin: 0 auto;
    line-height: 3rem;
    text-align: center;
    transition: all .5s;
    width: 16rem;
  }
  .p-btn-round:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
    position: relative;
    top: 1px;
    background: rgb(16, 206, 79);

  }
  .p-btn-round:active {
    top: 5px;
  }
  .p-btn-round:hover:visited {
    color: #fff
  }

  #github {
      font-weight: bold;
      text-decoration: none;
      background-color: grey;
      color: rgb(0, 0, 0);
  }

/* ヘッダー周りのCSS　*/
.l-header {
    transition: top 0.4s ease;
    background-color: #fff;
    box-sizing: content-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
  }
  .l-header .l-header-inner {
    padding-right: 32px;
    margin: 0 auto;
  }
  .l-header .l-product-logo {
    padding: 0 1rem;
    background: #a2dbf3;
    display: none;
    margin: 0;
    overflow: hidden; /* 要素のボックスからはみ出た部分をどう扱うか」を指定 */
    position: relative;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }
  .l-header .l-product-logo a img{
    margin-top: 40px;
  }
  .l-header.fixed-nav {
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
  }

  .l-header__nav-top .sns img {
    height: 2rem;
    width: 2rem; }

  .l-header__nav-top .git img {
    height: 2rem;
    width: 5rem; }

  /* メニュー切り替え用ボタンのCSS */
  .l-header .nav-toggle-button {
    background: 0 0;
    border: 0;
    color: transparent;
    cursor: pointer;
    height: 56px;
    right: 0;
    line-height: 3.75rem;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 3.75rem;
  }
  
  .l-header .nav-toggle-button img, .l-header .nav-toggle-button svg {
    color: #757575;
    height: 1.5rem;
    margin: 0 auto;
    width: 1.5rem;
  }
  
  .l-header .nav-toggle-button img.menu-bars, .l-header .nav-toggle-button svg.menu-bars {
    display: block;
  }
  
  .l-header .nav-toggle-button img.menu-close, .l-header .nav-toggle-button svg.menu-close {
    display: none;
  }
  
  @media screen and (min-width: 1024px) {
    .l-header .nav-toggle-button {
      display: none;
    }
}

/* 通常時に画面外の右側に隠しておく要素のCSS */

.l-header__nav-top {
    right: -86%;
    opacity: 0;
    transition: right 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
  }
  
  .l-header__nav-top .l-product-logo {
    display: none;
  }
  
  .l-header__nav-top ul {
    margin-top: -40px;
    display: none;
    margin-left: 1.1rem;
    list-style: none;
  }
  
  .l-header__nav-top a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    letter-spacing: .01562rem;
    line-height: 1.375rem;
    display: inline-block;
    padding: 21px 0 19px;
  }
  
  .l-header__nav-top a:hover {
    color: #777;
  }

  /* メニューボタンがクリックされた時のCSS */

  .nav-open {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  
  .nav-open main {
    overflow: hidden;
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
  }
  
  .nav-open .l-header {
    overflow: visible;
  }
  
  .nav-open .l-header .nav-toggle-button {
    left: auto;
    right: .3125rem;
    z-index: 1200;
  }
  
  .nav-open .l-header .nav-toggle-button img.menu-bars, .nav-open .l-header .nav-toggle-button svg.menu-bars {
    display: none;
  }
  
  .nav-open .l-header .nav-toggle-button img.menu-close, .nav-open .l-header .nav-toggle-button svg.menu-close {
    display: block;
  }
  
  .nav-open .l-header__nav-top {
    background: #fff;
    display: block;
    height: 100%;
    right: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    max-width: 25rem;
    width: 86%;
    z-index: 1100;
  }
  
  .nav-open .l-header__nav-top .l-product-logo {
    display: block;
    padding: 4px 30px 0;
    z-index: 1200;
  }
  
  .nav-open .l-header__nav-top .l-product-logo a {
    border-bottom: 0;
    height: 40px;
  }
  
  .nav-open .l-header__nav-top .l-product-logo img, .nav-open .l-header__nav-top .l-product-logo svg {
    position: absolute;
    top: 4px;
    left: 1.1rem;
    height: 40px;
    width: auto;
  }
  
  .nav-open .l-header__nav-top ul {
    display: block;
    margin: 0;
  }
  
  .nav-open .l-header__nav-top ul li a {
    border-bottom: 0;
    display: block;
    padding: 13px 24px;
  }
  
  .nav-open .black-bg {
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    right: 0;
    width: 100vw;
    z-index: 1000;
  }


  @media screen and (min-width: 1024px) {
    .l-header {
      background-color:transparent;
      position: relative;
      z-index: 100;
    }
    .l-header .l-product-logo {
      background: transparent;
      display: block;
      float: left;
    }
    .l-header .l-product-logo a {
      height: 64px;    /* ロゴを囲むリンク要素の高さ */
      width: 128px;    /* ロゴを囲むリンク要素の幅 */
    }
    .l-header .l-product-logo a img, .l-header .l-product-logo a svg {
      height: auto;    /* ロゴの高さ */
      width: 128px;    /* ロゴの幅 */
    }
    .l-header__nav-top {
      display: block;
      opacity: 1;
      overflow: visible;
    }
    .l-header__nav-top ul {
      display: block;
      float: right;
      margin-bottom: 0;
      position: relative;
      top: 50px;
    }
    .l-header__nav-top li {
      display: inline-block;    /* liタグを横並べにする */
      margin: 0 1rem;    /* 横に並んだliタグ間の空白を作る */
    }
    .l-header__nav-top li:first-child {
      margin-left: 0;    /* 1つめのliタグの左側には空白不要 */
    }
  }

  /* Works周り */
  .c-section h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
  }
  .c-section {
    padding: 2rem 0; }
    @media screen and (min-width: 1024px) {
      .c-section {
        padding: 3rem 0; } }
    .c-section-wrapin, .c-section-wrapin-wide {
      margin: 0 auto;
      max-width: 544px;
      position: relative;
      padding: 0 2rem;
      text-align: center;
      width: auto; }
      @media screen and (min-width: 576px) {
        .c-section-wrapin, .c-section-wrapin-wide {
          max-width: 1024px; } }
      @media screen and (min-width: 576px) {
        .c-section-wrapin-wide {
          max-width: 1440px; } }
    .c-section__line {
      border-bottom: 3px solid #FFB549;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 4rem; }
    .c-section__area-title {
      background: #41B6E6;
      position: relative;
      height: auto;
      padding: 3rem 1.5rem 2rem 1.5rem; }
      @media screen and (min-width: 1024px) {
        .c-section__area-title {
          background: transparent;
          height: 325px;
          padding: 6rem 0 3rem 10%; }
          .c-section__area-title::before {
            background: #41B6E6;
            content: "";
            position: absolute;
            height: 325px;
            top: 0;
            bottom: 0;
            left: calc(70% - 60px);
            transform: skewX(20deg);
            width: 119px; }
          .c-section__area-title::after {
            background: #41B6E6;
            content: "";
            position: absolute;
            height: 325px;
            top: 0;
            bottom: 0;
            left: 0;
            width: 70%;
            z-index: -10; } }

/* 画像まわり */

.p-media__thumb {
    position: relative;
    width: 100%;
    overflow: hidden; 
    
}
    .p-media__thumb::before {
      content: "";
      display: block;
      padding-top: 56.25%; }
    .p-media__thumb img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: auto; }
  
  .p-media__profile {
    text-align: center; }
    .p-media__profile img {
      background-position: center center;
      border-radius: 50%;
      object-fit: cover;
      height: 156px;
      width: 156px; }

      .c-section {
        padding: 2rem 0; }
        @media screen and (min-width: 1024px) {
          .c-section {
            padding: 3rem 0; } }
        .c-section-wrapin, .c-section-wrapin-wide {
          margin: 0 auto;
          max-width: 544px;
          position: relative;
          padding: 0 2rem;
          text-align: center;
          width: auto; }
          @media screen and (min-width: 576px) {
            .c-section-wrapin, .c-section-wrapin-wide {
              max-width: 1024px; } }
          @media screen and (min-width: 576px) {
            .c-section-wrapin-wide {
              max-width: 1440px; } }
        .c-section__line {
          border-bottom: 3px solid #FFB549;
          margin-top: 1rem;
          margin-bottom: 1rem;
          width: 4rem; }
        .c-section__area-title {
          background: #41B6E6;
          position: relative;
          height: auto;
          padding: 3rem 1.5rem 2rem 1.5rem; }
          @media screen and (min-width: 1024px) {
            .c-section__area-title {
              background: transparent;
              height: 325px;
              padding: 6rem 0 3rem 10%; }
              .c-section__area-title::before {
                background: #41B6E6;
                content: "";
                position: absolute;
                height: 325px;
                top: 0;
                bottom: 0;
                left: calc(70% - 60px);
                transform: skewX(20deg);
                width: 119px; }
              .c-section__area-title::after {
                background: #41B6E6;
                content: "";
                position: absolute;
                height: 325px;
                top: 0;
                bottom: 0;
                left: 0;
                width: 70%;
                z-index: -10; } }

/* ここから */
.p-grid__list-item-floated > h3 > a {
  text-decoration: none;
  color: #000000;
}

.p-grid, .p-grid__about, .p-grid__profile, .p-grid__list, .p-grid__list-item, .p-grid__list-item-floated, .p-grid__row, .p-grid__table li, .p-grid__works div {
    display: -ms-flexbox;
    display: flex; }
    .p-grid__about, .p-grid__profile {
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: left; }
      .p-grid__about h3, .p-grid__profile h3 {
        display: block;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 2;
        margin-bottom: 1rem; }
      .p-grid__about p, .p-grid__profile p {
        line-height: 2.5;
        margin-bottom: 1.5rem;
        letter-spacing: .1rem; }
      .p-grid__about .sub, .p-grid__profile .sub {
        font-size: 0.9rem;
        text-align: right; }
      .p-grid__about div, .p-grid__profile div {
        margin-bottom: 1rem;
        width: 100%; }
      @media screen and (min-width: 1024px) {
        .p-grid__about, .p-grid__profile {
          -webkit-flex-direction: row;
          flex-direction: row; }
          .p-grid__about p, .p-grid__profile p {
            line-height: 3;
            margin-bottom: 2.5rem; }
          .p-grid__about .left, .p-grid__profile .left {
            margin-left: 0;
            margin-right: auto;
            width: 56.25%; }
          .p-grid__about .right, .p-grid__profile .right {
            margin-left: auto;
            margin-right: 0;
            width: 43.75%; } }

            .p-grid__list {
                -webkit-flex-direction: row;
                flex-direction: row;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                width: 100%; }
                .p-grid__list-item, .p-grid__list-item-floated {
                  box-sizing: border-box;
                  -webkit-flex-direction: column;
                  flex-direction: column;
                  padding: 1rem;
                  margin-bottom: 2rem;
                  width: 100%; }
                  .p-grid__list-item h3, .p-grid__list-item-floated h3 {
                    color: #001871;
                    font-size: 1.563rem;
                    margin-bottom: .5rem; }
                  .p-grid__list-item small, .p-grid__list-item-floated small {
                    color: #001871;
                    font-size: 0.9rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    text-transform: uppercase; }
                  .p-grid__list-item img, .p-grid__list-item-floated img {
                    margin-bottom: 1rem; }
                  .p-grid__list-item p, .p-grid__list-item-floated p {
                    text-align: left; }
                  @media screen and (min-width: 1024px) {
                    .p-grid__list-item, .p-grid__list-item-floated {
                      width: 33.3333%; } }
                  .p-grid__list-item-floated {
                    background: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    box-shadow: 2px 6px 5px rgba(255, 255, 255, 0.4);
                    margin: 1rem .5rem; }
                    @media screen and (min-width: 1024px) {
                      .p-grid__list-item-floated {
                        width: calc(33.3333% - 1rem); }
                    }

                    .c-bg-primary {
                        background: #41B6E6;
                        display: block; }
                        .c-bg-primary > h1, .c-bg-primary h2, .c-bg-primary h3, .c-bg-primary h4, .c-bg-primary h5, .c-bg-primary h6 {
                          color: black; }

                          #p-headline__top {
                              color: white;
                          }